html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    color: black;
}
.section{
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.p1, .p2{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
/*Desktop*/
.page{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 15px;
    font-family: 'Raleway',sans-serif;
    width: 30%;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.contenu{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.choix{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius:15px;
    box-shadow:10px 10px gainsboro;
    width:90%;
    height: 200px;
    margin:10px;
}
.image{
    width: 30%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    margin:5px;
    height: 189px;
}
.hotel{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2%;
    width: 70%;
}
.fa-star{
    color:#0065FC;
}
.icone2 i:nth-child(5){
    color:#c4c4c4;
}
.fa-line-chart{
    margin: 15px;
}
.Hebergements{
    background-color:#F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 67%;
    padding: 10px;
=======
    background-color: #dddddd;
}
.Hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
h2{
    margin: 20px;
>>>>>>> 465c795225db50f55c2e577c5375f00a5936e53e
}
.carte{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
    padding: 5px;
    box-shadow: 7px 3px 12px 0px rgba(50, 50, 50, 0.29);
=======
    justify-content: space-around;
}
.card{
    padding: 5px;
>>>>>>> 465c795225db50f55c2e577c5375f00a5936e53e
}
img{
    width: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
<<<<<<< HEAD
    height: 125px;
=======
    height: 300px;
>>>>>>> 465c795225db50f55c2e577c5375f00a5936e53e
}
.lesCartes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
<<<<<<< HEAD
=======
    align-self: center;
    width: 96%;
>>>>>>> 465c795225db50f55c2e577c5375f00a5936e53e
}
.star i:nth-child(5), .star1 i:nth-child(4), .star1 i:nth-child(5){
    color: #c4c4c4;
}
p{
    color: grey;
}
<<<<<<< HEAD
.star, p, h4{
    align-items: center;
    width: 100%;
=======
.star, .star1, p, h4{
    display: flex;
    align-items: center;
    padding: 0px 0px 20px 10px;
    width: 100%;
    height: 5px;
>>>>>>> 465c795225db50f55c2e577c5375f00a5936e53e
}
.fa-solid{
    color: blue;
}
a{
    text-decoration: none;
    color: black;
}
<<<<<<< HEAD
p{
    color:darkgrey;
}
/*mobile*/
@media (max-width:768px) {
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.page{
    width: 100%;
}
.choix{
    height:150px;
}
.image{
    width: 30%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    margin:5px;
    height: 140px;
}  
=======
section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.p1, .p2{
    display: flex;
    gap: 20px;
    width: 100%;
}
@media (max-width: 768px){
.Hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.p1, .p2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.lesCartes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
}
.carte{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
}
img{
    width: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
    height: 300px;
}
}
@media screen and (min-width: 768px) and (max-width: 992px){
>>>>>>> 465c795225db50f55c2e577c5375f00a5936e53e
img{
    width: 100%;
    object-fit: fill;
    border-radius: 10px 10px 0px 0px;
<<<<<<< HEAD
    height: 190px;
} 
section{
    display: flex;
    flex-direction: column;
}
.p1, .p2{
    display: flex;
    gap: 20px;
    width: 100%;
}
}
@media (max-width: 768px){
    .section{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Hebergements{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    .p1, .p2{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }
    .lesCartes{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        border-radius: 20px 20px 0px 0px;
    }
    .carte{
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 5px;
    }
    img{
        width: 100%;
        object-fit: fill;
        border-radius: 10px 10px 0px 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    img{
        width: 100%;
        object-fit: fill;
        border-radius: 10px 10px 0px 0px;
        height: 200px;
    }
=======
    height: 300px;
}
.lesCartes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    border-radius: 20px 20px 0px 0px;
    
}
>>>>>>> 465c795225db50f55c2e577c5375f00a5936e53e
}
